body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #ededed;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
}

#right-icons {
  display: flex;
  gap: 32px;
  list-style-type: none;
  padding: 0;
}

header button {
  border: none;
  cursor: pointer;
}

/* https://codepen.io/sosuke/pen/Pjoqqp */
.icon:hover {
  filter: invert(30%) sepia(0%) saturate(1641%) hue-rotate(250deg) brightness(93%) contrast(95%);
}


